@font-face {
  font-family: "Nunito-Bold";   /*Can be any text*/
  src: local("Nunito-Bold"),
    url("./fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Nunito-Bold' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff2fa !important;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}